.conteiner{
     width: 283px;
     padding-left: 16px;
     padding-right: 16px;
     margin: 0 auto;
} 
@media screen and (min-width:768px){
   .conteiner{
     width:470px;
   }
   .ul-s1{
     display: flex;
     flex-wrap: wrap;
   }
   ul-li-s1{
     width: 211px;
   }
   ul-li-s1:nth-child(odd){
     margin-right: 6px;
   }

}
     
